@model User

<div class="form-container mt-lg-5 text-success">
    <h2 class="mb-3">Kayıt Ol</h2>

    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.NameSurname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NameSurname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NameSurname)
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Role, new { @class = "control-label col-md-2 pb-2" })
            <div class="col-md-10">
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(model => model.Role, "Driver", new { @class = "form-check-input" }) Driver
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(model => model.Role, "Customer", new { @class = "form-check-input" }) Customer
                    </label>
                </div>
            </div>
        </div>

       

        <div class="form-group mb-3">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Kayıt Ol</button>
            </div>
        </div>
    }
</div>
